@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

@font-face {
  font-family: "Mansfield";
  src: url("./assets/font/Mansfield-iF66c703e50e674.ttf") format("truetype");
}

@import "tailwindcss";

* {
  outline: none;
}

body {
  font-family: "Mansfield";
}

.font-archivo {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.swiper-pagination-bullet {
  background-color: black !important;
}

/* Optional: Active bullet in a different color or also black */
.swiper-pagination-bullet-active {
  background-color: black !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.inner-rotate {
  animation: spin 15s linear infinite;
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.animate-spin-reverse {
  animation: spin-reverse 15s linear infinite;
}

/* Outer and Inner Circle Base Styles */
.orbit {
  position: absolute;
  border-radius: 50%;
  border: 1px dashed gray;
}

.orbit-outer {
  width: 380px;
  height: 380px;
  animation: rotateOuter 20s linear infinite;
}

.orbit-inner {
  width: 250px;
  height: 250px;
  animation: rotateInner 20s linear infinite;
}

/* Rotation Keyframes */
@keyframes rotateOuter {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes rotateInner {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

/* Container for text items */
.orbit-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Item placement on the orbit */
.orbit-item {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: rotate(var(--angle)) translateX(50%) translateY(-150px);
}

.orbit-inner .orbit-item {
  transform: rotate(var(--angle)) translateX(50%) translateY(-100px);
}

/* Text itself — counter-rotating to stay upright */
.orbit-text {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: 100%;
  transform: rotate(calc(-1 * var(--angle)));
}

.orbit-outer .orbit-text {
  animation: rotateTextOuter 20s linear infinite;
}

.orbit-inner .orbit-text {
  animation: rotateTextInner 20s linear infinite;
}

/* Counter-rotate for upright text */
@keyframes rotateTextOuter {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: -360deg;
  }
}

@keyframes rotateTextInner {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: -360deg;
  }
}

.orbit:hover,
.orbit:hover .orbit-text {
  animation-play-state: paused;
}

.text-shadow {
  text-shadow: 1px 1px 0 #000, 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 640px) {
  .orbit-outer {
    width: 280px;
    height: 280px;
  }

  .orbit-inner {
    width: 200px;
    height: 200px;
  }

  .orbit-item {
    transform: rotate(var(--angle)) translateX(50%) translateY(-110px);
  }

  .orbit-inner .orbit-item {
    transform: rotate(var(--angle)) translateX(50%) translateY(-80px);
  }

  .orbit-text {
    font-size: 1.35rem;
    /* text-lg */
  }
}

.img-reflect {
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, transparent, rgba(0, 0, 0, 0.9));
}

.img-reflect1 {
  -webkit-box-reflect: below 0px linear-gradient(transparent,
      transparent,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1));
}

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid white;
  transform: translateX(2px);
}

/* For Pulse Animation */

.pulse {
  position: relative;
  border-radius: 50%;
}

.pulse span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid black;
  animation: animate 2s linear infinite;
  animation-delay: calc(var(--i) * -1s);
  border-radius: 50%;
}

@keyframes animate {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@media (max-width: 600px) {
  @keyframes animate {
    0% {
      width: 50px;
      height: 50px;
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    100% {
      width: 80px;
      height: 80px;
      opacity: 0;
    }
  }
}

/* For Footer Section */

<<<<<<< HEAD
.person1 {
  position: absolute;
  top: 270px;
  left: 480px;
  transform: translate(-50%, 0%);
  width: 150px;
  height: 80px;
}

.person2 {
  position: absolute;
  bottom: 170px;
  left: 80px;
  transform: translate(0%, 0%);
  width: 120px;
  height: 150px;
}

.person3 {
  position: absolute;
  top: 170px;
  right: 80px;
  transform: translate(0%, 0%);
  width: 120px;
  height: 150px;
}

.person4 {
  position: absolute;
  top: 10px;
  left: 55%;
  transform: translate(-50%, 0%);
  width: 480px;
  height: 280px;
}

.text-from-anywhere {
  position: absolute;
  bottom: 220px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 23px;
  color: white;
  letter-spacing: 30px;
}



.corporate-info1 {
  position: absolute;
  top: 40%;
  left: 12%;
=======
.corporate-info1{
  position: absolute;
  bottom: 150px;
  left: 80px;
>>>>>>> 7f3e90f5f355e4545748c814715e2c93e9af94a2
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* absolute top-[150px] left-[420px] flex justify-center items-center flex-col */
.corporate-info2 {
  position: absolute;
<<<<<<< HEAD
  top: 10%;
  left: 21%;
=======
  top: 130px;
  left: 250px;
>>>>>>> 7f3e90f5f355e4545748c814715e2c93e9af94a2
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* absolute top-[400px] left-[520px] flex justify-center items-center flex-col */
.corporate-info3 {
  position: absolute;
<<<<<<< HEAD
  top: 50%;
  left: 30%;
=======
  top: 350px;
  left: 350px;
>>>>>>> 7f3e90f5f355e4545748c814715e2c93e9af94a2
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* absolute top-[300px] left-[680px] flex justify-center items-center flex-col */
.corporate-info4 {
  position: absolute;
<<<<<<< HEAD
  top: 40%;
  left: 45%;
=======
  top: 200px;
  left: 510px;
>>>>>>> 7f3e90f5f355e4545748c814715e2c93e9af94a2
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blink-cursor {
  width: 3px;
  background-color: black;
  animation: blink 1s step-start infinite;
  position: absolute;
  z-index: 50;
}

/* @media screen and (min-width: 1025){
  
} */
@media screen and (min-width: 768px) and (max-width: 1024px) {
<<<<<<< HEAD
  .person1 {
    position: absolute;
    top: 170px;
    left: 250px;
    transform: translate(-50%, 0%);
    width: 150px;
    height: 80px;
  }

  .person2 {
    position: absolute;
    bottom: 120px;
    left: 40px;
    transform: translate(0%, 0%);
    width: 80px;
    height: 130px;
  }

  .person3 {
    position: absolute;
    top: 150px;
    right: 40px;
    transform: translate(0%, 0%);
    width: 80px;
    height: 110px;
  }

  .person4 {
    position: absolute;
    top: 10px;
    left: 55%;
    transform: translate(-50%, 0%);
    width: 320px;
    height: 180px;
  }

  .text-from-anywhere {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 15px;
    color: white;
    letter-spacing: 15px;
  }

  .corporate-info1 {
    position: absolute;
    top: 40%;
    left: 8%;
=======
  
  .corporate-info1{
    position: absolute;
    bottom: 140px;
    left: 40px;
>>>>>>> 7f3e90f5f355e4545748c814715e2c93e9af94a2
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* absolute top-[150px] left-[420px] flex justify-center items-center flex-col */
  .corporate-info2 {
    position: absolute;
    top: 18%;
    left: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* absolute top-[400px] left-[520px] flex justify-center items-center flex-col */
  .corporate-info3 {
    position: absolute;
    top: 50%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* absolute top-[300px] left-[680px] flex justify-center items-center flex-col */
  .corporate-info4 {
    position: absolute;
    top: 42%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


}



@media screen and (max-width: 767px) {
  .person1 {
    position: absolute;
    top: 150px;
    left: 140px;
    transform: translate(-50%, 0%);
    width: 80px;
    height: 50px;
  }

  .person2 {
    position: absolute;
    bottom: 100px;
    left: 10px;
    transform: translate(0%, 0%);
    width: 60px;
    height: 100px;
  }

  .person3 {
    position: absolute;
    top: 120px;
    right: 20px;
    transform: translate(0%, 0%);
    width: 50px;
    height: 70px;
  }

  .person4 {
    position: absolute;
    top: 10px;
    left: 60%;
    transform: translate(-50%, 0%);
    width: 220px;
    height: 140px;
  }

  .text-from-anywhere {
    position: absolute;
    bottom: 100px;
    left: 20%;
    /* transform: translate(-50%, 0%); */
    font-size: 10px;
    color: white;
    letter-spacing: 9px;
  }

  .corporate-info1 {
    position: absolute;
    top: 40%;
    left: 2%;
    display: flex;
    justify-content: center;    
    transform: scale(0.7);
    align-items: flex-start; 
  justify-content: flex-start; 
  }

  /* absolute top-[150px] left-[420px] flex justify-center items-center flex-col */
  .corporate-info2 {
    position: absolute;
    top: 22%;
    left: 14%;
    display: flex;
    align-items: flex-start; 
  justify-content: flex-start;
    flex-direction: column;
    transform: scale(0.7);
  }

  /* absolute top-[400px] left-[520px] flex justify-center items-center flex-col */
  .corporate-info3 {
    position: absolute;
    top: 50%;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    transform: scale(0.7);
  }

  /* absolute top-[300px] left-[680px] flex justify-center items-center flex-col */
  .corporate-info4 {
    position: absolute;
    top: 42%;
    left: 45%;
    display: flex;
    align-items: flex-start; 
  justify-content: flex-start;
    flex-direction: column;
    transform: scale(0.7)
  }
}